html {
  font-family: "georgia"; serif;
}

section {
    background-color: #495562;
    color: #fff;
}

.btn {
  color: #fff;
  border-color: #e2e2e2;
}

@media only screen and (min-width: 38em) {
  .banner {
  }
  .btn-banner {
    text-align: right;

  }
}

@media only screen and (min-width: 60em) {
  .banner {
    position: relative;
    overflow: hidden;
    max-height: 500px;
  }
  .banner-text {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
